@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400');


*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}


.subtitle {
  color: white
}
